a:hover {
  color: rgb(0, 0, 0);
  transition: .5s;
}

.scroll-menu {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  margin: 12px;
  /* background-color: antiquewhite; */
}

.scroll-menu a {
  margin: 0 20px;
  word-wrap: unset;
}

.line {
  width: 1px;
  height: 36px;
  background-color: #767676;
}

.right {
  flex-grow: 1;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 25px;
}

.menus {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
}
.scroll-menus {
  display: flex;
  align-items: center;
}

.right>.left-btn, .right-btn {
  position: absolute;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
  color: var(--text-color)
}

.right>.left-btn {
  left: 15px;
  top: 50%;
  transform: translateY(-51%);
  z-index: 2;
}

.right>.right-btn {
  top: 50%;
  transform: translateY(-51%);
  right: 25px;
}

.right>.left-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 100%;
  background: linear-gradient(270deg, #fff0 0, #fff 90%, #fff);
  z-index: -1;
}
.right>.right-btn::before {
  content: '';
  position: absolute;
  right: 0px;
  width: 120px;
  height: 100%;
  background: linear-gradient(90deg,#fff0 0,#fff 90%,#fff);
  z-index: -1;
}

